.vscode/settings.json
auction/__pycache__/__init__.cpython-38.pyc
auction/__pycache__/auth.cpython-38.pyc
auction/__pycache__/forms.cpython-38.pyc
auction/__pycache__/forms.cpython-37.pyc
auction/__pycache__/views.cpython-38.pyc
auction/__pycache__/__init__.cpython-38.pyc
auction/__pycache__/auth.cpython-38.pyc
auction/__pycache__/forms.cpython-38.pyc
auction/__pycache__/listings.cpython-38.pyc
auction/__pycache__/models.cpython-38.pyc
auction/__pycache__/views.cpython-38.pyc
