{% block content %}

<!-- Show bid details regarding a new listing-->
<div class="card mb-5 mr-5 px-0 col-md-3" style="width: 20rem; text-align: center;">
    <img src="{{listing.instrument.image}}" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title"><b>{{listing.listTitle}}</b></h5>
        <div class="card-text" style="padding-top: 10px;">
            <p>Starting bid price:<b> ${{listing.startBid}}</b></p>
            <p>Highest bid:<b> ${{listing.highestBid}}</b></p>
            <p>Total number of bids:<b> {{listing.totalNumberOfBids}}</b></p>
            {% if listing.auctionStatus %}
                <p>Auction status: <b style="color: rgb(5, 194, 30);">Open</b></p>
            {% else %}
                <p>Auction status: <b style="color: rgb(194, 5, 5);">Closed</b></p>
            {% endif %}
            <p style="padding-top: 5px;"></p>
            <a href="{{url_for('listing.show', id = listing.id)}}" class="btn btn-primary">View Listing</a>
        </div>
    </div>
</div>

{% endblock %}